[submodule "antigen"]
	path = antigen
	url = git://github.com/zsh-users/antigen.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "dot_vim"]
	path = dot_vim
	url = git://github.com/raedwulf/dot_vim.git
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = git://github.com/raedwulf/tmux-powerline.git
